body {
    font-family: Arial, sans-serif;
    background: rgb(111, 115, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-box {
    width: 350px;
    background: rgb(39, 186, 59);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: white;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: rgb(66, 162, 103);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: rgb(48, 135, 84);
}